*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black}

html,body{height: 100%;
width: 100%;}

*::selection{
    color: white;
    background-color: rgb(10, 8, 8);}

/* navbar */

#nav-bar{
    /* background-color: blue; */
    width: 100%;
    z-index: 99;
    padding:23px ;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;}

#nav-bar #nav-part1{height: 82px;
    /* background-color: red; */
       overflow:hidden ;}

#nav-part1 svg{display: block;}

#nav-font{padding: 10px;}

#nav-icon{padding: 10px;
border-radius: 50px;
background-color: whitesmoke}

#nav-part2{display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;}

#nav-part2 #nav-font a{text-decoration: none;
font-weight: 200;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:13px ;
color: #323131;
margin:20px ;
text-transform: uppercase;}

#nav-part2 #nav-icon i{
   font-weight: 600;
    margin:0 20px;}

/*cursor effect */

#cursor{height: 270px;
width: 270px;
border-radius: 50%;
background-color:ghostwhite;
position: fixed;
transform: translate(-50%,-50%) scale(0);} 

/* page1 */

#page1{
    min-height:100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-top: 15vw;}

#page1 h1{padding: 0 2.5vw;
        text-transform: uppercase;
        line-height: 220px;
        font-size: 18.2vw;
        letter-spacing: -15px;}

 #video-cont{height: 100vh;
        width: 100%;
        /* background-color: brown; */
        margin-top: .5vw;
        position: relative;
        padding: 0 1vw;}

#video-cont video{height: 100%;
        width: 100%;
        object-fit: cover; }
      
#video-cont #play{
    background-color: black;
    color: white;
    font-size: 1vw;
    padding:1.1vw .7vw;
    position: absolute;
    border-radius: 50%;
    scale: 0;
    opacity: 0;}

/* page2 */

#page2{min-height: 100vh;
width: 100%;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 1vw;}

#image{height: 100%;
width: 31%;
margin-top: 2vw;
overflow: hidden;
position: relative;
display: flex;
align-items: center;
justify-content: center;}

#dets{height: 60px;
    width: 60%;
    border-radius: 50px;
    position: absolute;
    background-color: beige;
    z-index: 9;}

#dets:hover{height: 300px;}

#image img{height: 100%;
width: 100%;
object-fit: cover;}

/* page3 */

#page3{height: 160vh;
width: 100%;
/* background-color: bisque; */
display: flex;
align-items: center;
justify-content: space-evenly; 
flex-wrap: wrap;} 

.child{
    height: 61vh;
    width: 40vw;
    /* background-color: blueviolet;*/} 

.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;}

 #page3 .child  h6{padding: 1vw 0 0 14vw;
    font-weight: 200;
    align-items: center;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;}   

#page3 .child #six{padding: 1vw 0 0 19vw;}  

#page3 .child  h6 pre{font-weight: 200;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0.3px;}

#page3 .child  h5{padding: 1vw 0 0 10vw;
    font-weight: 200;
    align-items: center;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;} 

#page3 .child  #five{padding: 1vw 0 0 19vw;}

#page3 .child  h5 pre{font-weight: 200;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0.3px;}

/* page4 */

#page4{margin-top: 6vw;}

#writing{display: flex;
align-items: center;
justify-content: space-between;}

 #writing h4{font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 1.95vw;}

#hrdiv{display: flex;
align-items: center;
justify-content: center;}

#hr{height: 0.2px;
width: 96%;
/* margin-top: 8vw; */
background-color: rgb(5, 5, 5);
padding: 0 20px;}

/* page5 */

#page5{height: 40vh;
width: 100%;
display: flex;
align-content: center;
justify-content: center;
/* background-color: aqua;*/} 

#pdiv h1{padding: 11vw 11.2vw;
font-size: 5vw;
text-transform: uppercase;
font-weight: 800;
letter-spacing: -3px;
line-height: .88;} 

/* page6 */

#page6{height: 64vh;
width: 100%;
/* background-color: blanchedalmond; */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 30px;}

#btn{padding:1.5vw 5vw ;
background-color: rgb(10, 10, 10);
color: white;
border-radius: 50px;
text-transform: uppercase;
font-size: 1.1vw;
font-weight: 900;}

#btn:hover{color: rgb(134, 142, 151);}

.effect {height: 280px;
    width: 220px;
    padding: 10px 0;}

 .effect h1{
    font-size: 0.9vw;
    padding: 1.1vw 0;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgb(245, 243, 243);} 

  .divbtn {
    width: 100%;
    padding: 0;         
    margin: 0;
    border: none; 
    outline: none; 
    color: white;     
    background-color: transparent;  
    font-size: 1.1vw;}

.effect textarea{height: 9vw;
    width: 14.3vw;
    font-size: 1vw;
    padding-top: 5px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;}

    @keyframes fadeOutEffect{
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(0.9); } }

.effect.fade-out {
  animation: fadeOutEffect 0.4s ease forwards;}

#page6 p{font-weight: 200;
    font-family: sans-serif;
 line-height:1.4;
letter-spacing: 1px;}

/* page7 */

#page7{height: 100vh;
width: 100%;
/* background-color: rgb(214, 153, 78); */
display: flex;
align-items: flex-start;
justify-content: space-between;}

#page7 #left{height: 94%;
/* background-color: yellow; */
width: 28%;}

#page7 #left h1{font-weight: 500;
font-size: 2.1vw;
padding: 1vw;}

#page7 #left h5{font-size:1.17vw;
font-weight: 100;
padding: 0.7vw 1vw;
letter-spacing: 1.2px;}

#page7 #left h4{font-size: 1.1vw;
font-weight: 100;
padding: 1vw 2vw 1.5vw 1vw;
line-height: 1.2;
letter-spacing:1.5px ;}

#page7 #left h6{font-size: 1.1vw;
padding: 0 1vw;
font-weight: 100;
letter-spacing: 1.2px;}

#page7 #left #doit{height: 0.01vw;
    width: 12vw;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0.4vw 1vw;}

#page7 #new-div{height: 94%;
width: 72%;
display: flex;
align-items: center;
justify-content: space-evenly;}

#page7 #new-div #middle{height: 95%;
width: 45%;}

#new-div #middle img{height: 100%;
width: 100%;
object-fit: cover;}

#page7 #new-div #right{height: 95%;
width: 45%;} 

#new-div #right img{height: 100%;
width: 100%;
object-fit: cover;}

/* page8 */

#page8{height: 30vh;
width: 100%;}

#page8 input{width: 94%;
height: 5vw;
margin: 6vw 2vw;
text-transform: uppercase;
font-size: 3vw;
border: none;
border-bottom: 0.1px solid black;
outline: none;}

.my-input::placeholder{color:black;}

#page8 i{font-size: 1.5vw;}

#page8 i:hover{border: 1px solid black;}

/* page9 */

#page9{height: 35vw;
width: 100%;
/* background-color: royalblue; */
display: flex;
align-items: center;
justify-content: space-around;}

#page9 #pleft{height: 100%;
    width: 25%;
    /* background-color: saddlebrown;*/} 

#page9  h2{
    padding-top: 9vw;
    font-size: 1vw;
    color: rgb(164, 154, 154);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;}

#page9  h1{
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: 1px;}

#page9 #pmiddle{height: 100%;
    width: 40%;}

#page9 #pmiddle #image-div{height: 18vw;
    /* background-color: bisque; */
    margin: 8vw 10vw 3.4vw 10vw;
    width: 20vw;}

#page9 #pmiddle #image-div img{height: 100%;
    width: 100%;
    object-fit: cover;}

#pmiddle #last-div{display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;}

#last-div h1{
    color: gray;
    font-size: 0.8vw;
    letter-spacing: 0.15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;}

#page9 #pright{height: 100%;
    width: 25%;}

#page9 #pright h2{text-align: right;}

#page9 #pright h1{text-align: right;} 

/* page10 */

#page10{height: 9vw;
    /* background-color: aqua; */
width: 100%;}

#page10 p{padding: 0 14.5vw;
font-weight: 200;
font-size: 1vw;
letter-spacing: 0.5px;
line-height: 1.3;
color: rgb(53, 51, 51);}


/* RESPONSING TWO GOOD */

@media(max-width: 768px){
#nav-bar{
    width: 100%;
    z-index: 99;
    padding:15px ;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;}

#nav-bar #nav-part1{height: 62px;
       overflow:hidden ;} 

#nav-part1 svg{display: block;
    height: 62px;} 

#nav-bar #three{height: 46px;}

#nav-font{padding: 50px;
display: none;}

#nav-icon{padding: 8px;
border-radius: 50px;
background-color: whitesmoke}

#nav-part2 #nav-icon i{
   font-weight: 600;
    margin:0 15px;}

#page1{
    min-height:57vh;
    padding-top: 40vw;}
  
#page1 h1{padding: 2vw 5vw;
        line-height: 10vw;
        letter-spacing: -2px;
        font-size: 16.6vw;}
    
#video-cont{ height: 25vh;
    padding: 0 2vw;
        margin-top: 2vw; }

#video-cont #play{
    font-size: 4vw;
    padding:4.9vw 2.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    scale: 1; 
    opacity: 1;}

#page2{min-height: 100vh;
width: 100%;
position: relative;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
padding: 0 1vw;} 

#image{height: 100%;
width: 100%;
margin-top: 0.5vw;
overflow: hidden;
position: relative;
display: flex;
align-items: center;
justify-content: center;}

#dets{height: 50px;
    width: 60%;
    border-radius: 50px;
    position: absolute;
    background-color: beige;
    z-index: 9;}

 #dets:hover{height: 200px;}

#page3{height: 76vh;
width: 100%;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-evenly; } 

.child{margin-top: 0.5vw;
    height: 36vh;
    /* background-color: aqua; */
    width: 49vw;} 

.child img{
    margin:4vw 3vw ;
    height: 62%;
    width: 80%;
    object-fit: cover;}

#page3 .child  h6{ font-size: 10px;
    letter-spacing: 0.3px;
    padding: 0.8vw 4vw;}    

#page3 .child  h6 pre{font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;}   

#page3 .child #six{padding: 0.5vw 18vw;}  

#page3 .child  h5{ font-size: 10px;
    padding: 0 4vw;
    letter-spacing: 0.3px;} 

#page3 .child  h5 pre{font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;}   

#page3 .child  #five{padding: 0.5vw 18vw;}

#page4{margin-top: 10vw;}

 #writing h4{font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 2.6vw;}

#hr{width: 94%;
font-weight: 500;}

#page5{height: 20vh;} 

#pdiv h1{padding: 16vw 3vw 0 3vw;
font-size: 5.5vw;
font-weight: 900;
letter-spacing: 1px;} 

/*responsing button */

#page6{height: 22vh;
width: 100%;
padding-top: 7vw;}

#btn{padding:4.5vw 18vw ;
border-radius: 45px;
font-size: 3.2vw;
letter-spacing: 1px;
font-weight: 900;}

.effect {display: none;}

#page6 p{font-weight: 100;
    line-height:1.3;
    font-size: 3.5vw;}

#page7{height:75vh;
width: 100%;
margin: 6vw 0;
flex-wrap: wrap-reverse;}

#page7 #left{height: 53%;
width: 100%;}

#page7 #left h1{font-weight: 900;
font-size: 6vw;
padding: 0 2vw 3.5vw 4vw;}

#page7 #left h5{font-size:3vw;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 0 2vw 3.5vw 3vw;}

#page7 #left h4{font-size: 3vw;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 0 2vw 3.5vw 3vw;
line-height: 1.4;
letter-spacing: 0.95px;}

#page7 #left h6{font-size: 2.4vw;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 4vw 2vw 1vw 3vw;
letter-spacing: 1.3px;}

#page7 #left #doit{height: 0.2vw;
    width: 32vw;
    background-color: black;
    margin: 1vw 3vw;}

#page7 #new-div{height: 37.5%;
margin-top: 5vw;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;}

#page7 #new-div #middle{height: 100%;
width: 45%}

#page7 #new-div #right{height:100%;
width: 45%;} 
 
#page8{height: 12vh;
width: 100%;}

#page8 input{width: 85%;
height: 10vw;
margin-left: 3vw;
padding: 0 1vw;
font-size: 4.5vw;
border-bottom: 0.5px solid black;}

#page8 i{font-size: 5vw;}

#page9{height: 50vw;
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;}

#page9 #pleft{height: 100%;
width: 27%;
padding-left: 3vw;} 

#page9  h2{
    font-size: 2.2vw;
    font-weight: 700;}

#page9  h1{font-size: 2.5vw;
    font-weight: 700;}

#page9 #pmiddle{height: 100%;
    width: 43%;}

#page9 #pmiddle #image-div{height: 21vw;
    margin: 10vw 10vw 3.4vw 9vw;
    width: 24vw;}

#pmiddle #last-div{
    padding: 0 1vw;}

#last-div h1{font-size: 1.32vw;}

#page9 #pright{height: 100%;
    padding-right: 3vw;
    width: 30%;}

 #page10{height: 45vw;
width: 100%;}

#page10 p{padding: 0 10vw;
font-weight: 900;
font-size: 2.6vw;
letter-spacing: 0.7px;
line-height: 1;}


}